.mainContainer__attribution { 
  position: absolute;
  bottom: 1rem;
  max-width: 70%;
  text-align: center;
  position: absolute;
}
.mainContainer__attribution a { 
  color: hsl(228, 45%, 44%); 
}
.mainContainer__attribution a:hover { 
  text-decoration: none;
}