.mainContainer__attribution { 
  position: absolute;
  bottom: 0.5rem;
  max-width: 70%;
  text-align: center;
  position: absolute;
  a { 
    color: $colorBrightBlue; 
  }
  a:hover { 
    text-decoration: none;
  }
}