//Layout
  $resolutionMobile: 500px;
  $resolutionDesktop: 900px;
//colors
  //primary
  $colorPaleBlue: hsl(225, 100%, 94%);
  $colorBrightBlue: hsl(245, 75%, 52%);
  $colorBrightBlueBrigther:rgb(255, 100%, 100%);
  //neutral
  $colorVeryPaleBlue: hsl(225, 100%, 98%);
  $colorDesaturatedBlue: hsl(224, 23%, 55%);
  $colorDesaturatedBlueBrigther: hsl(245, 75%, 62%);
  $colorDarkBlue: hsl(223, 47%, 23%);

//Typography 
  $fontSize: 16px; //Paragraph
  $fontFamily: 'Red Hat Display', sans-serif;
  $fontWeightLight: 500;
  $fontWeightMedium: 700;
  $fontWeightStrong: 900;